<div class="profile-card">
  <div class="avatar-name">
    <img src="/assets/pngs/avatar.png" alt="avatar" class="profile-card__avatar">
    <div class="profile-card__name">
      <strong>Девушка Райн</strong>
      <span>ryan.girl</span>
    </div>
  </div>

  <div class="profile-card__description">
    Список навыков, который мы обсудили выше, - основа резюме, но не единственная его часть.
    Также можно рассказать о себе в классическом смысле - этот раздел можно добавить
    в сопроводительное письмо.
  </div>

  <div class="profile-card__tags">
    <div class="skill-tag">JS</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">Frontend</div>
  </div>

  <div class="profile-card__action-btn">
    <button class="btn">Подписать</button>
  </div>
</div>
