@font-face {
  font-display: swap;
  font-family: 'JetBrainsMono';
  font-style: normal;
  font-weight: 800;
  src: url('/public/assets/fonts/JetBrainsMono-Medium.woff2') format('woff2'), url('/public/assets/fonts/JetBrainsMono-Medium.woff2') format('woff');
}
